<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.jobMapper" >
  <resultMap id="BaseResultMap" type="bean.job" >
    <id column="jid" property="jid" jdbcType="INTEGER" />
    <result column="jsno" property="jsno" jdbcType="VARCHAR" />
    <result column="jeno" property="jeno" jdbcType="INTEGER" />
    <result column="jresume" property="jresume" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    jid, jsno, jeno, jresume
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bean.jobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job
    where jid = #{jid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job
    where jid = #{jid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="bean.jobExample" >
    delete from job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bean.job" >
    insert into job (jid, jsno, jeno, 
      jresume)
    values (#{jid,jdbcType=INTEGER}, #{jsno,jdbcType=VARCHAR}, #{jeno,jdbcType=INTEGER}, 
      #{jresume,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bean.job" >
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        jid,
      </if>
      <if test="jsno != null" >
        jsno,
      </if>
      <if test="jeno != null" >
        jeno,
      </if>
      <if test="jresume != null" >
        jresume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        #{jid,jdbcType=INTEGER},
      </if>
      <if test="jsno != null" >
        #{jsno,jdbcType=VARCHAR},
      </if>
      <if test="jeno != null" >
        #{jeno,jdbcType=INTEGER},
      </if>
      <if test="jresume != null" >
        #{jresume,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bean.jobExample" resultType="java.lang.Integer" >
    select count(*) from job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job
    <set >
      <if test="record.jid != null" >
        jid = #{record.jid,jdbcType=INTEGER},
      </if>
      <if test="record.jsno != null" >
        jsno = #{record.jsno,jdbcType=VARCHAR},
      </if>
      <if test="record.jeno != null" >
        jeno = #{record.jeno,jdbcType=INTEGER},
      </if>
      <if test="record.jresume != null" >
        jresume = #{record.jresume,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job
    set jid = #{record.jid,jdbcType=INTEGER},
      jsno = #{record.jsno,jdbcType=VARCHAR},
      jeno = #{record.jeno,jdbcType=INTEGER},
      jresume = #{record.jresume,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bean.job" >
    update job
    <set >
      <if test="jsno != null" >
        jsno = #{jsno,jdbcType=VARCHAR},
      </if>
      <if test="jeno != null" >
        jeno = #{jeno,jdbcType=INTEGER},
      </if>
      <if test="jresume != null" >
        jresume = #{jresume,jdbcType=VARCHAR},
      </if>
    </set>
    where jid = #{jid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bean.job" >
    update job
    set jsno = #{jsno,jdbcType=VARCHAR},
      jeno = #{jeno,jdbcType=INTEGER},
      jresume = #{jresume,jdbcType=VARCHAR}
    where jid = #{jid,jdbcType=INTEGER}
  </update>
</mapper>